{% extends "base.html" %}
{% block title %} Writing Notes {% endblock %}

{% block css_file %}
<link rel="stylesheet" href="{{ url_for('static', filename='writing_notes.css') }}">
{% endblock %}

{% block content %}
<div class="note-container">
    <h1>Notes</h1>
    <form action="{{ url_for('write_note') }}" method="post">
        <textarea placeholder="Spill the tea Sis..."></textarea>
        <div>
            <div>
                <button type="submit">Save Note</button>
            </div>
            <form action="{{ url_for('index')}}" name='pick-mood' method="POST">
                <div class="mood-options">
                    <label class="mood-option">
                        <input type="radio" name="mood" value="happy" required>
                        <img src="{{ url_for('static', filename='images/happy.png') }}" alt="Happy">
                    </label>
                    <label class="mood-option">
                        <input type="radio" name="mood" value="neutral" required>
                        <img src="{{ url_for('static', filename='images/neutral.png') }}" alt="Neutral">
                    </label>
                    <label class="mood-option">
                        <input type="radio" name="mood" value="sad" required>
                        <img src="{{ url_for('static', filename='images/sad.png') }}" alt="Sad">
                    </label>
                </div>
            </form>
        </div>


        {% endblock %}